body {
    background: #141414;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.hide {
    display: none !important;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    background: #0a0a0a url('res/red.png') right center no-repeat;
    width: 100%;
    color: white;    
}
header h1 {
    margin-left: 15px;
    flex-shrink: 0;
}
header .file-input {
    flex-shrink: 0;
}
header .check-toggle {
    flex: 1;
}

.backgrounds {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.backgrounds img {
    position: absolute;
    top: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.backgrounds .bg-move {
    mix-blend-mode: overlay;
    opacity: 0.4;
    animation: bg 35s alternate-reverse linear infinite;
}
@keyframes bg {
    0% { opacity: 0; transform:scale(1); }
    60% { opacity: 0.4; transform:scale(1.3); }
    95% { opacity: 0; transform:scale(1.6); }
    100% {  opacity: 0; transform:scale(1); }
}


.wrapper {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: auto;
}

.map-kills {
    flex: 1;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
}

.map {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 500px;
    width: 60vw;
    min-width: 200px;
    max-width: 600px;
    max-height: max-content;
    margin: auto;
}
.map .main {
    position: relative;
    width: 100%;
    height: auto;
}
.map .markers {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.map .markers img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0.75;
    mix-blend-mode: darken;
    transition: ease opacity 0.3s;
}
.map .markers img.unlocked {
    opacity: 0;
}

.kills {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}
.kills .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    width: 90%;
}

.kills b, .kills h3 {
    color: white;
}
.kills .creature {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    color: #cecece;
    padding-bottom: 5px;
    margin: 3px;
    border-bottom: solid 1px #353535;
    box-sizing: border-box;
}
.kills .creature-icon {
    background-image: url("res/creature-atlas.png");
    width: 31px;
    height: 26px;
    overflow: hidden;
    margin-right: 10px;
    image-rendering: crisp-edges;
}
.kills .creature:hover .creature-icon {
    animation: creature-icon 1s infinite ease-in-out;
}
@keyframes creature-icon {
    0% { transform: scale(1); }
    50% { transform: scale(0.9); }
    100% { transform: scale(1); }
}

.kills .creature .kill-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    min-height: 25px;
    border: solid 1px #cecece;
    border-radius: 10px;
    cursor: default;
}
.kills .creature .kill-worth {
    margin-left: 5px;
    font-size: 0.9em;
    cursor: default;
}


.details {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 500px;
    min-width: 150px;
    margin: auto;
    font-size: 1.1em;
    color: #cecece;
}
.details b, .details h3 {
    color: white;
}

.ranking-container {
    cursor: pointer;
}
.ranking-container summary {
    outline: 0;
    padding: 10px;
    border: solid 1px white;
    border-radius: 10px;
    box-sizing: border-box;
}
details summary::-webkit-details-marker {
    display: none;
}
.ranking {
    width: -moz-max-content;
    width: max-content;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
}


.stats-karma {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.karma-container {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.karmas {
    position: relative;
    width: 90px;
    height: 350px;
    overflow: hidden;
}
.karmas .karma {
    position: absolute;
    top: 0;
    left: 0;
    background: url('res/karma.png') no-repeat;
    width: 90px;
    height: inherit;
    height: 500px;
}
.karma.active {
    background-position-y: -450px;
    top: calc(50% - 50px);
    height: 90px;
}
.karma.inactive {
    background-position-y: calc(-50% - 525px);
    opacity: 0.5;
}

.stats {
    padding: 10px;
    box-sizing: border-box;
}

.achievements {
    display: flex;
    flex-flow: column;
    padding: 10px;
    box-sizing: border-box;
}
.achievement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border-bottom: solid 1px #353535;
    margin-top: 8px;
    color: #cecece;
}
.achievement .title {
    color: #aaaaaa;
}
.achievement.active .title { color: white; }
.achievement.complete .title { color: #85d385; }
.achievement .pips {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.achievement.inactive .pips {
    opacity: 0;
}
.achievement .pip {
    background: #cecece;
    border-radius: 50%;
}
.achievement .pip.full {
    width: 8px;
    height: 8px;
    margin: 0 1px;
}
.achievement .progress {
    color: #cecece;
    font-style: italic;
    text-align: right;
}
.achievement.inactive .progress::after {
    content:'Inactive';
}
.achievement.complete .progress::after {
    content:'Complete';
}
.achievement .pip.empty {
    position: relative;
    width: 8px;
    height: 8px;
    margin: 0 1px;
}
.achievement .pip.empty::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content:'';
    background: #1f1f1f;
    max-width: 6px;
    max-height: 6px;
    border-radius: 50%;
    margin: auto;
}
.achievement .status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
}
.achievement.inactive .status {
    opacity: 0;
}
.achievement .status-bar {
    flex: 1;
    position: relative;
    background: white;
    width: 100%;
    height: 1px;
    margin: auto;
    box-sizing: border-box;
    opacity: 0;
}
.achievement:not(.inactive) .status-bar {
    opacity: 1;
}
.achievement .status-bar .slider {
    position: absolute;
    top: -3px;
    background: white;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 0 -3px;
    transition: ease left 0.5s;
}
.achievement .status .count {
    margin-left: 5px;
}


.dragon-slayer.pip-0 { background: #20ba20; }
.dragon-slayer.pip-1 { background: #b80faf; }
.dragon-slayer.pip-2 { background: #0e81ce; }
.dragon-slayer.pip-3 { background: white; }
.dragon-slayer.pip-4 { background: #c57915; }
.dragon-slayer.pip-5 { background: #5e5e5e; }



.file-input {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 10px;
}
.file-input input {
    display: none;
}
.file-input .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #44445e;
    min-width: 100px;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 15px;
    cursor: pointer;
}
.file-input .overlay:hover {
    background: #4d6951;
}
.btn-sample {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 5px;
    margin: 0 10px;
    background: #8b3947;
    height: max-content;
    height: -moz-max-content;
    cursor: pointer;
}
.btn-sample:hover {
    background: #ac4e5e;
}



.check-toggle {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.check-toggle input {
    display: none;
}
.check-toggle .overlay {
    position: relative;
    background: #1a1a1a;
    width: 50px;
    height: 25px;
    margin: 0 5px;
    border-radius: 15px;
    cursor: pointer;
}
.check-toggle .overlay::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: #5a5a70;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    transition: ease-in left 0.2s;
}
.check-toggle input:checked + .overlay::before {
    left: calc(100% - 22px);
    background: #4d6951;
}


.btn-calculate {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4d6951;
    width: max-content;
    width: -moz-max-content;
    flex-grow: 0;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}
.btn-calculate:hover {
    background: #71b47b;
}


.current-score {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.75);
}
.current-score .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: black;
    width: 40vw;
    min-width: 260px;
    max-width: 800px;
    min-height: 350px;
    margin: auto;
    color: white;
    border: solid 1px #cecece;
    border-radius: 10px;
}
.current-score .score {
    padding: 25px;
    font-size: 2.4em;
    border: solid 1px #cecece;
    border-radius: 10px;
}
.btn-close {
    background: #4d6951;
    width: max-content;
    width: -moz-max-content;
    padding: 15px;
    margin-top: 45px;
    border: solid 1px #cecece;
    border-radius: 10px;
    cursor: pointer;
}
.btn-close:hover {
    background: #54915d;
}
.btn-stats {
    background: #272f38;
    padding: 5px 15px;
    margin-bottom: 15px;
    border: solid 1px #cecece;
    border-radius: 10px;
    cursor: pointer;
}
.btn-stats:hover {
    background: #536477;
}


.log {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.75);
    color: white;
}
.log .container {
    display: flex;
    flex-flow: column;
    align-items: center;
    background: black;
    width: 60vw;
    min-width: 300px;
    max-width: 600px;
    height: calc(100vh - 30px);
    margin: auto;
    border: solid 1px #cecece;
}
.log .log-list {
    display: flex;
    flex-flow: column;
    width: calc(100% - 20px);
    min-height: 10px;
    padding: 5px 15px;
    box-sizing: border-box;
    border: solid 1px #cecece;
    text-align: right;
    overflow-y: auto;
}
.log .log-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.log .log-item .details {
    grid-column-start: 1;
    grid-column-end: 5;
}
.log .log-item .details-wrapper {
    display: flex;
    justify-content: flex-end;
    display: grid;
    grid-template-columns: 1fr 80px 50px;
}
.log .log-item .title, .log .log-item .amount {
    margin-right: 10px;
}
.log .log-item .amount, .log .log-item .value {
    text-align: left;
}
.log .log-item .negative {
    color: #be5e5e !important;
}
.log .log-item.full-total {
    margin-top: 15px;
    color: #71b47b;
}
.log .btn-close {
    margin-bottom: 10px;
}



::-webkit-scrollbar {
    position: relative;
    width: 10px;
    overflow: hidden;
}
::-webkit-scrollbar-track {
    background: black;
    border: solid 1px white;
}
::-webkit-scrollbar-thumb {
    background: #1a1a1a;
    border: solid 1px white;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #707070;
}



@media screen and (max-width: 600px) {
    body {
        font-size: 0.7em;
    }

    header {
        padding-bottom: 15px;
    }


    .log .log-item {
        font-size: 0.9em;
    }
    .log .log-item .title {
        font-size: 0.8em;
    }
}



